@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    width: 100%;
    height: 80px;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}
.login-signup{
    border-radius: 50px;
    border: 2px solid #000;
    background: #fff;
    padding: 10px;
    font-size: 1.3rem;
    margin-left: 60px;
    cursor: pointer;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    margin-left: 200px;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    height:350px ;
    margin-left: -150px;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    margin-top: 15px;
}
.dropdown-menu li{
    display: block;
}
.dropdown-menu{
    width: 10%;
    background: #ffffff;
    position: absolute;
    color: #000;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown-menu{
    display: block;
}
.navbar a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #7AE582;
    margin: auto;
    display: block;
}
.navbar a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.menu-items i{
    font-size: 35px;
    background-color: rgb(102, 244, 107);
    color: #000;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: -40px;
    height: 50px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    cursor:pointer;
}

/* FOOTER */

footer {
    width:100%;
    bottom:0px;
    padding-top: 1000px;
    margin: 0;
  
  }
  
  svg {
    width:100%;
  }
  .wave {
    animation: wave 3s linear;
    animation-iteration-count:infinite;
    fill: #25A18E;
  }
  
  #wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
  }
  @keyframes drop {
    0% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    80% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    90% { 
      transform: translateY(10%) ; 
      opacity:.6; 
    }
    100% { 
      transform: translateY(0%) scale(1.5);  
      stroke-width:0.2;
      opacity:0; 
    }
  }
  @keyframes wave {
    to {transform: translateX(-100%);}
  }
  .footer-content {
      text-align: left;
      position: relative;
      z-index: 1001;
      margin-top: -170px; /* Adjust as needed */
      margin-left: 100px;
  }
  
  .footer-content .p1 {
      font-size: 25px;
      color: #000;
      margin: 0;
  }
  
  .footer-content-button {
      background-color: #25A18E;
      color: rgb(0, 0, 0);
      border: 5px solid #9FFFCB;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: 900;
  }
  
  .vertical-1{
      border-left: 5px solid #7AE582;
      height: 175px;
      left: 50%;
      margin-left: 400px;
      margin-top: -110px;
  }
  
  .vertical-2{
      border-left: 5px solid #7AE582;
      height: 175px;
      left: 50%;
      margin-left: 700px;
      margin-top: -170px;
  }
  
  .vertical-3{
      border-left: 5px solid #7AE582;
      height: 175px;
      left: 50%;
      margin-left: 1000px;
      margin-top: -75px;
  }
  
  .footer-options-1 {
      margin-left: 500px;
      margin-top: -170px;
  }
  
  .footer-options-1 a{
      color: #000;
      text-decoration: none;
      font-weight: 550;
  }
  .footer-options-2 {
      margin-left: 795px;
      margin-top: -170px;
  }
  
  .footer-options-2 a{
      color: #000;
      text-decoration: none;
      font-weight: 550;
  }
  
  .footer-options-3 {
      margin-left: 1100px;
      margin-top: -180px;
  }
  
  .footer-options-3 a{
      text-decoration: none;
      color: #000;
      font-size: 18px;
  }

    /* Styles for the pop-up box */
    .popup-box {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
    }
    
    .popup-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
    
    .close-icon {
        position: absolute;
        top: 5px;
        right: 50px;
        font-size: 100px;
        cursor: pointer;
    }
    
    .close-icon:hover{
        color: red;
    }